@page
@model Rajwinder_shopping_centre.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!--this page make for giving the information about products-->

<h1>Index</h1>

Instead, the promotion is all about deals and reminding the consumer that the product is available.
 A shopping product is a type of product that requires consumer research and comparison of brands.
 Homogeneous and heterogeneous are the two specific types of shopping products

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Description
            </th>
            <th>
                Product Type
            </th>
            <th>
                Product Material
            </th>
            <th>
                Product Color
            </th>
            <th>
                Product Size
            </th>
            <th>
                Product Rating
            </th>
            <th>
                Product Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Brand_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Category_Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
