@page
@model Rajwinder_shopping_centre.Pages.Signups.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!--this page shows the information about signup page-->

<h1>Index</h1>

You can use the same username and password you created for that product to sign in to any other products.
 If you can't remember ever signing in and would like to check if you have an account, enter your email address.

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Signup Name
            </th>
            <th>
                Signup Email
            </th>
            <th>
                Signup Subject
            </th>
            <th>
                Signup Massage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Signup)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Signup_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Signup_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Signup_Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Signup_Massage)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
